body {
   background-color: lavender;
   font-size: 16px;
   margin-left: 3rem;
}

.ask {
   width: 1000px;
   height: 100px;
   border: 2px solid darkorchid;
   vertical-align: auto;
}

.what {
   margin-left: 10px;
}

.answers {
   margin-left: 0px;
}

input[type="radio"] {
   margin-left: 50px;
}

#button {
   background-color: aquamarine;
   color: midnightblue;
}

h1 {
   color: purple;
}

.modal {
   display: none; 
   width: 700px;
   height: 700px;
   position: absolute;
   left: 5%;
   top: 10%;
}
 
 /* Modal Content */
 .modal-content {
   display: flex;
   flex-direction: column;
   height: 500px;
   width: 700px;
   text-align: center;
   justify-content: center;
   background-color: lightcyan;
   border: 1px solid #888;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 29px;
}

img {
   margin: auto;
   height: 200px;
   width: 300px;
   align-content: center;
   justify-content: center;
}
 
 /* The Close Button */
 span {
   color: #dd1111;
   border: blueviolet solid 1px;
   border-radius: 20%;
   position: absolute;
   align-items: center;
   justify-content: center;
   top: 0;
   right: 0;
   font-size: 50px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
